// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";

.btn-primary {
    color: #fff;
    background-color: #800040!important;
    border-color: white!important;
    box-shadow: 1px 1px 19px white;
}


.banner h1 {
  text-shadow: 2px 1px rgba(6, 12, 0, 1)!important;
}
